<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}cmsbook{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='external/blueprint/blueprint/screen.css') }}"  type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ url_for('static', filename='external/blueprint/blueprint/print.css') }}"  type="text/css" media="print" />
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='external/blueprint/blueprint/ie.css') }}"  type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="{{ url_for('static', filename='external/blueprint/blueprint/plugins/fancy-type/screen.css') }}"  type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}"  type="text/css" media="screen, projection" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/v4-shims.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"  type="image/vnd.microsoft.icon" />
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"  type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.css" />

        <style>
         .markdown-body {
             box-sizing: border-box;
             min-width: 200px;
             max-width: 980px;
             margin: 0 auto;
             padding: 10px;
             font-size: 100%;
         }

         @media (max-width: 767px) {
             .markdown-body {
                 padding: 15px;
             }
         }
        </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
            <div class="span-24 last">
                <div id="header">
                    {% block header %}
                    <script type="text/javascript">
                     $(document).ready(function(){
                         $(".markdown-body a:not([href^='#'])").attr('target', '_blank');
                     });
                    </script>
                    <div class="span-22">
                        <h1><a href="/~sakuma/cmsbook" >cmsbook</a></h1>
                        <div class="description">Tai Sakuma</div>
                    </div>
                    <div class="span-2 append-bottom last">
                        <i class="fas fa-book fa-2x"></i>
                    </div>
                    {% endblock %}
                </div><!--header-->
            </div>
        </div><!--container -->

        <div id="subheader">
            {% block subheader %}
            <div class="container">
                <div class="span-24 last">
                    <div id="subheadernavi">
                        {{ subheadernavi|safe }}
                        <div class="clear"></div>
                    </div><!--subheadernavi-->
                </div>
            </div><!--container -->
            {% endblock %}
        </div><!--subheader-->
        <div class="container">
           <div class="span-24">
              <div id="torso">
                {% block torso %}
                {% endblock %}
              </div><!--torso-->
           </div>
           <div class="span-24 last">
              <div id="footer">
                {% block footer %}
                &copy;2018 Tai Sakuma, <a href="https://github.com/TaiSakuma/cmsbook_bind" target="_blank">cmsbook_bind</a>
                {% endblock %}
              </div><!--footer-->
            </div>
        </div><!--container -->
        {% endblock %}
    </body>
</html>
